---
---

<html data-bs-theme="light" lang="en" style="width: auto;" data-bs-spy="scroll" data-bs-smooth-scroll="true">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>rda</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Domine&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Public+Sans&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap">
    <link rel="icon" href="/favicon.ico" type="image/svg+xml">
</head>

<body class="d-flex flex-column flex-grow-1 flex-shrink-1 flex-fill justify-content-center align-items-center align-content-center align-self-center flex-wrap" style="background: rgb(214,214,214);">
    <div class="container-md" style="background: url('/assets/img/242013394_6302094256497675_5056377227424879555_n.webp') center / cover no-repeat;padding-top: 20px;">
        <div class="row">
            <div class="col-md-6 col-xxl-4"><img src="/assets/img/RDALOGO.svg" width="170" height="106" style="background: var(--bs-success);border-radius: 34px;"></div>
            <div class="col-md-6 col-xxl-8">
                <nav class="navbar navbar-expand-md bg-transparent">
                    <div class="container-fluid"><a class="navbar-brand" href="#">Brand</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="background: var(--bs-warning);"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse d-xxl-flex justify-content-xxl-end" id="navcol-1" style="font-weight: bold;font-size: 24px;">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link active" href="#" style="font-family: 'Public Sans', sans-serif;color: var(--bs-black);">First Item</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" style="font-family: 'Public Sans', sans-serif;font-weight: bold;color: var(--bs-black);">Second Item</a></li>
                                <li class="nav-item"><a class="nav-link" href="#" style="font-family: 'Public Sans', sans-serif;color: var(--bs-black);">Third Item</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col" style="width: 1296px;margin-top: 96px;">
                <p style="color: #d0d0d0;max-width: 650px;font-size: 45px;background: #0f7d34;margin-top: 30px;font-family: Merriweather, serif;font-weight: bold;border-radius: 11px;padding-left: 10px;padding-right: 10px;">Enriching lives through horses in the Highlands since 1975.</p>
            </div>
        </div>
        <div class="row" style="margin-left: -33px;padding-bottom: 40px;padding-top: 14px;transform: rotate(-4deg);"><a href="https://justgiving.com/highlandgrouprda"><img src="//widgets.justgiving.com/Button?p=eyJJZCI6IjY3NTM4OWM2LWQ3NzQtNDVmOS05NGVhLThmOGNkYTdmOTBmNSIsIkNoYXJpdHlJZCI6MjQ2NDE0MiwiU2l6ZSI6InMiLCJSZWZlcmVuY2UiOiIiLCJUeXBlIjoiRG9uYXRlIn0=" alt="Just Giving Donate"></a></div>
    </div>
    <div class="container" style="background: #c3c3c3;padding-left: 18px;padding-right: 20px;">
        <p style="font-size: 69px;margin-bottom: 0px;width: auto;font-family: Domine, serif;line-height: 96.5px;"><strong>Welcome to the <span style="text-decoration: underline;">Highland Group</span> Riding for the Disabled Association (RDA).</strong></p>
        <p style="font-size: 36px;background: #c3c3c3;margin-bottom: 0px;font-family: Domine, serif;width: auto;padding-top: 11px;padding-bottom: 26px;line-height: 57px;"><strong>Our mission is to bring about meaningful and positive changes in the health and well-being of people with physical or mental disabilities through activities with our horses and ponies.</strong></p>
    </div>
    <div class="container" style="background: url('/assets/img/223152689_6028821187158318_7901235528269673744_n-1920w.webp') center;">
        <div class="row">
            <div class="col-md-6">
                <p style="font-family: Roboto, sans-serif;color: rgb(255,255,255);max-width: 497px;font-size: 20px;margin-left: 52px;margin-top: 24px;margin-bottom: 41px;">Highland Group RDA is a member of the National Riding for the Disabled Association (RDA), and of the Grampian and Highland Regional RDA.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br>We are a registered Scottish Charitable Incorporated Organisation (SC007357).</p>
            </div>
            <div class="col-md-6 d-xxl-flex justify-content-xxl-end align-items-xxl-end"><img src="/assets/img/RDALOGO.svg" width="162" height="119"></div>
        </div>
    </div>
    <div class="container" style="padding-right: 0px;padding-left: 0px;margin-bottom: -17px;">
        <p style="font-size: 70px;text-align: center;background: #c3c3c3;font-family: Vollkorn, serif;color: #385177;font-weight: bold;padding-bottom: 22px;padding-top: 22px;">Find out more about who we are, what we do and how you can support us to help make a difference.</p>
    </div>
    <div class="container" style="background: #c3c3c3;">
        <div class="row" style="margin-left: 77px;margin-right: 84px;">
            <div class="col-md-4" style="background: url('/assets/img/320711306_865749364475187_6152104707200224701_n-1d6b6ac8-1920w.webp');min-height: 311px;">
                <h1>About Us</h1>
            </div>
            <div class="col-md-4">
                <h1>Events</h1>
            </div>
            <div class="col-md-4">
                <h1>Get Involved</h1>
            </div>
        </div>
    </div>
    <div class="container" style="background: url('/assets/img/222957077_6028824210491349_4146132303877993139_n-1920w.webp') bottom;min-height: 176px;padding-top: 4px;">
        <p>footer</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
